@import url("https://fonts.googleapis.com/css2?family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  border: none;
  position: relative;
  box-sizing: border-box;
}
div:active {
  outline: none;
  -webkit-tap-highlight-color: transparent;
}
:root {
  --primary: #dca47c;
  --text: #2e523c;
  --border: #ffd3b6;
  --profile: #fcf8f3;
}
body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: var(--primary);
}
/*---nav----*/
nav {
  height: 10vh;
  width: 100vw;
  border: 1px solid var(--border);
  display: flex;
  align-items: center;
  justify-content: end;
}
.settings {
  font-size: 1rem;
  letter-spacing: 2px;
  font-family: monospace;
  padding: 0.3rem 1.4rem;
  background-color: #000;
  color: white;
  border-radius: 20px;
  border: 1px solid #fff;
  margin-right: 10vw;
  cursor: pointer;
  z-index: 1;
}
.settings:hover {
  text-decoration: underline;
}
.settings > i {
  margin-right: 4px;
  text-shadow: 1px 1px 8px white, -1px -1px 8px white;
  animation: shadow 5s infinite;
}
@keyframes shadow {
  30% {
    opacity: 0.8;
  }
  60% {
    opacity: 1;
  }
  90% {
    opacity: 0.8;
  }
}
/* ------content------ */
.content {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.quote-box {
  width: 50vw;
  padding: 1rem;
  margin-left: 5vw;
  border: 2px solid var(--border);
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.2);
}
.qtnist {
  width: 13%;
  aspect-ratio: 1;
  border-radius: 50%;
  margin-left: 80%;
  margin-top: -11%;
  transform: translateX(-50%);
  backdrop-filter: blur(15px);
  transition: all ease-in-out 0.8s;
}
.quote-box:hover .qtnist {
  margin-left: 20%;
  transition: all ease-out 0.5s;
}
.qtnist img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 2px solid var(--border);
  object-fit: cover;
  opacity: 0.9;
  filter: sepia();
}

.qtnist::before {
  content: "";
  min-width: 200px;
  position: absolute;
  left: 0;
  bottom: 40%;
  font-weight: bold;
  letter-spacing: 1px;
  line-height: 1.2rem;
  font-family: monospace;
  text-align: center;
  color: transparent;
  z-index: -1;
}
.quote-box:hover .qtnist::before {
  color: white;
  left: 110%;
  transition: left 0.2s, color 0.5s;
  transition-delay: 0.3s;
}
#quote {
  margin-top: 1%;
  font-family: "Philosopher", serif;
  font-size: clamp(16px, 1.5vw, 28px);
  line-height: 2rem;
  color: var(--text);
  width: 100%;
  margin: 1rem 0 0.5rem;
  font-weight: 500;
}
#quote::after {
  content: "";
  width: 1px;
  height: 1.5vw;
  background-color: #000;
  position: absolute;
  bottom: 5px;
  margin-left: 1px;
  animation: blink 2s infinite;
}
@keyframes blink {
  0% {
    background-color: transparent;
  }
  39% {
    background-color: transparent;
  }
  40% {
    background-color: black;
  }
}
.controls {
  font-size: clamp(35px, 3vw, 70px);
  margin-left: 5vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #fff;
  transition: all 0.2s;
}
.controls div i {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 15px;
  padding: 0.25vw;
  margin-top: 1vw;
  box-shadow: 1px 1px 1px black;
  cursor: pointer;
}
@media screen and (min-width: 1000px) {
  .controls div i:hover {
    box-shadow: 1px 1px 5px black;
    color: red;
  }
}

@media screen and (max-width: 1000px) {
  .quote-box {
    width: 60vw;
  }
  .controls {
    margin-left: 4rem;
    font-size: clamp(35px, 4.5vw, 70px);
  }
  .controls div {
    margin-bottom: 1rem;
  }
  .controls div i {
    padding: 1vw;
  }
  #quote {
    font-size: clamp(16px, 2vw, 28px);
  }
  #quote::after {
    height: 1rem;
    bottom: 7px;
  }
}

@media screen and (max-width: 640px) {
  nav {
    height: 6vh;
  }
  .content {
    flex-direction: column;
    margin-top: -20%;
  }
  .controls {
    flex-direction: row;
    width: 60vw;
    margin: 0;
    font-size: clamp(30px, 8vw, 70px);
    transform: translateY(300%);
    position: absolute;
  }
  .controls div i {
    padding: 0.8rem;
  }

  .quote-box {
    width: 80vw;
  }
  .qtnist {
    top: -10rem;
    margin-left: 50%;
    width: 6rem;
  }
  .quote-box:hover .qtnist::after {
    color: white;
    left: 110%;
    transition: left 0.2s, color 0.4s;
    transition-delay: 0s;
  }
  #quote {
    line-height: 1.8rem;
    margin-top: -10%;
    font-size: clamp(16px, 4vw, 28px);
  }
  #quote::after {
    height: 1rem;
    bottom: 5px;
  }
}

@keyframes main-reconstract {
  to {
    height: 100vh;
    width: 100vw;
    margin-left: 0;
    padding: 5rem;
    background-color: #000;
    transform: translateY(-10vh);
    border-radius: 0;
    border: 1px solid white;
  }
}
@keyframes main-reconstract-640 {
  to {
    height: 99svh;
    width: 100vw;
    text-align: right;
    padding: 2rem;
    background-color: #000;
    transform: translateY(20vh);
    border-radius: 0;
    border: none;
  }
}

@keyframes con-reconstract {
  to {
    margin: 0;
    position: absolute;
    left: 50%;
    transform: translateX(-60%);
    bottom: 20%;
    flex-direction: row;
  }
}
@keyframes con-i-reconstract {
  to {
    margin: 0 clamp(20px, 6vw, 50px);
  }
}
